@import "tailwindcss";

body {
  font-family: 'Courier New', 'Courier', sans-serif;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

/* Day 2 */
@keyframes hamburger-close-top {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0);
  }
  50% {
    transform: translateY(calc(0.25rem * 5)) translateZ(0) rotateX(0);
  }
  100% {
    transform: translateY(calc(0.25rem * 5)) translateZ(0) rotateZ(45deg);
  }
}

@keyframes hamburger-close-middle {
  0% {
    transform: translateZ(0) rotateX(0);
  }
  50% {
    transform: translateZ(0) rotateX(0);
  }
  100% {
    transform: translateZ(0) rotateZ(135deg);
  }
}

@keyframes hamburger-close-bottom {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0);
  }
  50% {
    transform: translateY(calc(0.25rem * -5)) translateZ(0) rotateX(0);
  }
  100% {
    transform: translateY(calc(0.25rem * -5)) translateZ(0) rotateZ(135deg);
  }
}

.hamburger-close-top { animation: hamburger-close-top 0.7s ease-in-out forwards; }
.hamburger-close-middle { animation: hamburger-close-middle 0.7s ease-in-out forwards; }
.hamburger-close-bottom { animation: hamburger-close-bottom 0.7s ease-in-out forwards; }

.hamburger-open-top { animation: hamburger-close-top 0.7s ease-in-out reverse forwards; }
.hamburger-open-middle { animation: hamburger-close-middle 0.7s ease-in-out reverse forwards; }
.hamburger-open-bottom { animation: hamburger-close-bottom 0.7s ease-in-out reverse forwards; }
